<!-- signup.component.html -->
<div class="signup-container">
    <h2>Create Account</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <div>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" required />
      </div>
  
      <div>
        <label for="username">Username:</label>
        <input id="username" type="text" formControlName="username" required />
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" required />
      </div>
  
      <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    </form>
  </div>
  