/* signup.component.css */
.signup-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto 0 auto; /* Centers horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content inside the container */
    text-align: center; /* Centers text */
}

  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signup-container form div {
    margin-bottom: 15px;
  }
  
  .signup-container form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #00ffd0e1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  @media (max-width: 600px) {
    /* Mobile devices */
    .signup-container {
      padding: 15px;
    }
  
    .signup-container h2 {
      font-size: 20px;
    }
  
    button {
      font-size: 14px;
    }
  
    .signup-container form input {
      padding: 8px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 400px) {
    /* Small mobile devices */
    .signup-container {
      max-width: 80%;
      padding: 10px;
    }
  
    button {
      font-size: 12px;
      padding: 10px;
     
    }
  
    .signup-container h2 {
      font-size: 18px;
    }
  
    .signup-container form input {
      font-size: 12px;
    }
  }
  